*{
    box-sizing: border-box;
}

body{
    background-color: green;
    margin:0;
    padding:0;
}

.tarolo, .fejlec, .tartalom, .lablec {
    border: 1px solid green;
    padding: 10px;
    color: green;
}

.tarolo {
    background-color: black;
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

img {
    width: 100%;
    border: 1ps solid green;
    border-radius:10px;
    padding: 10px;
}

.kep {
    width: 100%;
    border: 5px solid green;
    border-radius:10px;
    padding: 10px;
}

.tartalom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
}

@media screen and (max-width:600px) {
    .tartalom {
        grid-template-columns: 1fr;
    }

    .tarolo {
        width: 100%;
    }

}